:root {
  --green-50: #38fba0;
  --green-100: #00b090;
  --green-150: #019176;
  --green-200: #176549;
  --green-230: #014130;
  --green-250: #002118;
  --white: #fff;
  --blue-link: #6868ff;
  --black: #000;
}

.espacamento {
  margin-bottom: 7px;
}

/* Animacao de entrada */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* Parte da esquerda */
.left-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  max-height: 100vh;
}

.aguiaVoandoImg {
  width: 500px;
  margin-top: 60px;
}

.lead {
  font-size: 50px;
  margin: 30px;
  font-weight: bold;
  animation: slideUp 1s ease;
}

.siglaLead {
  font-size: 24px;
  font-weight: bold;
  animation: slideUp 1s ease;
}

/* Parte da direita */
.right-side {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--green-250);
  height: 100vh;
  position: relative;
  flex-direction: column;
}

.backgroundImg {
  width: 880px;
  object-fit: contain;
  opacity: 0.3;
}

.login-txt {
  position: relative;
  font-size: 40px;
  top: 145px;
  color: var(--white);
  animation: slideUp 0.8s ease;
}

/* Caixa de login */
.login-box {
  border: 2px solid var(--green-100);
  border-radius: 15px;
  padding: 30px;
  width: 700px;
  min-height: 55vh;
  color: var(--white);
  box-shadow: 3px 3px var(--green-230);
  position: absolute;
  width: 70%;
  gap: 20px;
  animation: slideUp 0.8s ease;
  z-index: 1;
}

/* Primeiro botao */
.roles button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Segundo botao */
.roles button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.roles button:not(:last-child) {
  border-right: none;
}

.roles button:hover {
  background: var(--white);
  color: var(--black);
  cursor: pointer;
}

/* Labels de email e senha */
.labels {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 40px;
  font-weight: bold;
}

.input-email {
  margin-bottom: 100px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border-radius: 20px;
  border: 1px solid var(--green-50);
  background: transparent;
  color: var(--white);
  outline: none;
  font-size: 15px;
}

.login-box input::placeholder {
  color: #bbb;
  font-size: 15px;
}

.forgot-password {
  position: absolute;
  text-decoration: none;
  font-size: 14px;
  color: var(--blue-link);
}

.login-btn {
  width: 130px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--green-50);
  background: transparent;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: 20px;
  left: 40%;
}

.login-btn:hover {
  background: var(--green-50);
  color: var(--black);
}

.create-account {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  color: var(--white);
  animation: slideUp 1.5s ease;
}

.create-account a {
  color: var(--blue-link);
}

/* Responsividade para 1366x768 */
@media (max-width: 1366px) {
  /* Parte da esquerda */
  .aguiaVoandoImg {
    width: 400px;
  }

  .lead {
    font-size: 40px;
    margin: 15px;
  }

  .siglaLead {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  /* Parte da direita */
  .backgroundImg {
    max-width: 100%;
  }

  .login-txt {
    top: 20px;
  }

  .login-box {
    width: 650px;
    min-height: 55vh;
    height: 450px;
    top: 100px;
  }

  .create-account {
    bottom: 20px;
  }
}

/* Responsividade para moible ate 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .left-side {
    background-color: var(--green-250);
  }
  .right-side {
    width: 100%;
    height: auto;
    flex: none;
    overflow-x: hidden;
  }

  .aguiaVoandoImg {
    width: 250px;
    margin-top: 30px;
  }

  .lead {
    font-size: 30px;
    margin: 10px;
    text-align: center;
  }

  .siglaLead {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }

  .backgroundImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 880px;
    object-fit: contain;
    opacity: 0.3;
    z-index: 0;
    width: 100%;
    max-width: 880px;
  }

  .login-txt {
    font-size: 28px;
    top: 20px;
    text-align: center;
    width: 100%;
  }

  .login-box {
    width: 70%;
    position: relative;
    top: 0;
    margin: 20px auto;
    height: auto;
    padding: 20px;
  }

  .login-btn {
    position: absolute;
    left: 40%;
    bottom: auto;
    margin-top: 20px;
  }

  .create-account {
    position: relative;
    bottom: auto;
    margin-top: 20px;
    text-align: center;
  }

  .lead,
  .siglaLead {
    display: none;
  }
}
