.dashboard-container {
  display: flex;
  /* flex-direction: column; */
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.goals-section {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.goals-section h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}


