.header-component {
    height: 20vh;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vh;
}

.logo-images img{
    height: 13%;
    width: 13%;
    padding: 0 1vw;
}

.rightNav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-right: 20px;
}

.menu, .userImage{
    width: 40%;
}