.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #E0F2F1; 
  color: #000;
  text-decoration: none;
  
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #000;
  transition: transform 0.2s ease-in-out;
}

.card-item {
  flex: 1; 
  text-align: center;
  font-size: 1.1rem;
}

.project-name {
  flex: 2; 
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: #176549;
}

.project-name:hover {
  color: #00b090; 
}

.project-actions {
  flex: 1;
  text-align: center;
}

.delete-button {
  background-color: #d9534f; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #c9302c;
}