.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #E0F2F1; 
  color: #000;
  text-decoration: none;
  
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #000;
  transition: transform 0.2s ease-in-out;
}

/* .project-card:hover {
  transform: translateY(-5px);
} */

.card-item {
  flex: 1; 
  text-align: center;
  font-size: 1.1rem;
}

.project-name {
  flex: 2; 
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}
