:root {
  --green-50: #38fba0;
  --green-100: #00b090;
  --green-200: #176549;
  --green-230: #014130;
  --green-250: #002118;
  --white: #fff;
  --blue-link: #6868ff;
  --black: #000;
}

.espacamento {
  margin-bottom: 7px;
}

/* Animacao de entrada */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-cadastro {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  background-color: var(--green-250);
  height: 100vh;
  position: relative;
}

.background-Img {
  width: 880px;
  object-fit: contain;
  align-items: right;
  opacity: 0.3;
}

.register-txt {
  position: absolute;
  font-size: 40px;
  top: 70px;
  color: var(--white);
  animation: slideUp 0.8s ease;
}

.register-box {
  position: relative;
  border: 2px solid var(--green-100);
  border-radius: 15px;
  padding: 30px;
  width: 600px;
  height: 680px;
  color: var(--white);
  box-shadow: 3px 3px var(--green-230);
  position: absolute;
  gap: 20px;
  animation: slideUp 0.8s ease;
  height: auto;
}

.roles button {
  border-radius: 0;
  width: 130px;
  height: 40px;
  background: var(--green-200);
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
  margin: 0;
  transition: 0.3s;
  flex: 1;
}

/* Primeiro botao */
.roles button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Segundo botao */
.roles button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.roles button:not(:last-child) {
  border-right: none;
}

.roles button:hover {
  background: var(--white);
  color: var(--black);
  cursor: pointer;
}

.labels {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 40px;
  font-weight: bold;
}

.input-email {
  margin-bottom: 100px;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid var(--green-50);
  background: transparent;
  color: var(--white);
  outline: none;
}

.register-box input::placeholder {
  color: #bbb;
  font-size: 15px;
}

.cadastro-btn {
  width: 130px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--green-50);
  background: transparent;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: 30px auto 0 auto;
  position: relative;
}

.cadastro-btn:hover {
  background: var(--green-50);
  color: var(--black);
}

/* Faca login */
.do-login {
  display: flex;
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  color: var(--white);
  animation: slideUp 1.5s ease;
  justify-content: center;
  align-items: center;
}

.do-login a {
  color: var(--blue-link);
}

/* Aside da direita */
.aside-cadastro {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.logo-lead {
  width: 480px;
  margin: 50px 0 0 50px;
}

@media (max-width: 1366px) {
  .background-Img {
    width: 100%;
  }

  .register-txt {
    top: 45px;
  }

  .register-box {
    width: 600px;
    display: flex;
    flex-direction: column;
    min-height: 55vh;
    height: 450px;
    top: 120px;
    overflow-y: auto;
    max-height: 400px;
    scrollbar-width: thin;
    scrollbar-color: var(--green-100) transparent;
  }

  /* Scrollbar da caixa de registro */

  .register-box::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  .register-box::-webkit-scrollbar-thumb {
    background: var(--green-100);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  .cadastro-btn {
    position: static;
    left: auto;
    bottom: auto;
    display: block;
    margin: 10px auto 0 auto;
    position: relative;
  }

  .create-account {
    bottom: 20px;
  }
}

/* Responsividade para moible ate 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
  }

  .aside-cadastro {
    display: none;
  }

  .background-Img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 880px;
    width: 100%;
    max-width: 880px;
  }

  .register-box {
    position: static;
    border: none;
    width: 90%;
    max-width: 600px;
    height: auto;
    min-height: auto;
    margin: 20px auto;
    margin-bottom: 80px;
    padding: 20px;
    overflow: visible;
    top: auto;
    bottom: auto;
    overflow: visible;
    z-index: 1;
    box-shadow: none;
  }

  .register-box::-webkit-scrollbar {
    display: none;
  }
  .register-box::-webkit-scrollbar-thumb {
    display: none;
  }

  .do-login {
    display: static;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    z-index: 1;
    min-width: 100%;
  }
  .main-cadastro {
    height: auto;
    padding: 40px 20px;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-y: auto;
  }
  .register-txt {
    position: relative;
    top: 0;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }
}
