*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-menu: #00B090;
}

.closed{
    display: none;
}

.open{
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 80vh;
    width: 16vw;
    background-color: var(--background-menu);
}

hr{
    width: 100%;
    border: solid .2px #fff;
}

a{
    margin: 3vh 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}