:root {
  --background-card: #d9d9d9;
  --cor-texto-curso: #313131;
}

.container-profile {
  margin: 30px;
}

.header-profile {
  display: flex;
  align-items: center;
}

.email-profile > a {
  font-weight: bold;
}

.image-profile {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 6vh;
}

.name {
  font-size: 45px;
  font-weight: bold;
  margin-left: 50px;
}

.cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding-inline: 10px;
  flex-wrap: wrap;
}

.card-body {
  height: 35vh;
  width: 35vw;
  background-color: var(--background-card);
  border-width: 1px;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-weight: normal;
  font-size: 25px;
}

.card-subtitle {
  font-weight: bold;
}

.card-grupo {
  height: 16vh;
  width: 30vw;
  background-color: var(--background-card);
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txt-grupo {
  font-weight: bolder;
}

.link-grupo {
  font-weight: bold;
}

.card-curso {
  height: 16vh;
  width: 30vw;
  background-color: var(--background-card);
  margin-top: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.txt-curso {
  display: flex;
  gap: 0.5vw;
}

.txt-titulo {
  font-weight: bolder;
  margin-left: 20px;
}

.txt-descricao {
  color: var(--cor-texto-curso);
  font-weight: bold;
}

.biografia {
  display: flex;
  width: 85%;
  justify-content: end;
}

.titulo-biografia {
  font-weight: bolder;
}

.txt-biografia {
  color: var(--cor-texto-curso);
  font-weight: bold;
  text-align: center;
  width: 30vw;
}

@media (max-width: 768px) {
  .container-profile {
    margin: 10px;
  }

  .header-profile {
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
  }

  .image-profile {
    height: 60px;
    width: 60px;
    font-size: 2rem;
  }

  .name {
    font-size: 30px;
    margin-left: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .card-body,
  .card-grupo,
  .card-curso {
    width: 90vw;
    height: auto;
    margin-top: 0;
    padding: 15px;
    gap: 15px;
  }

  .biografia {
    display: block;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    order: 1;
    text-align: center;
    font-size: 20px;
  }

  .txt-biografia {
    display: block;
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    order: 2;
    text-align: justify;
    font-size: 16px;
  }

  .txt-titulo{
    margin-left: 5px;
  }
}
