.admin-navbar {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  background-color: #333; /* ps: alterar essa cor dps */
  border-bottom: 1px solid #555;
  box-sizing: border-box;
}

.admin-nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2.5rem; 
}

.admin-nav-link {
  color: #eee;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.2s;
}

.admin-nav-link:hover {
  color: #fff;
}


.admin-nav-link.active {
  color: #00B090; 
  font-weight: 700;
}


.admin-nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px; 
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #00B090; 
}